nav {
  display: flex;
  align-items: center;
  background-color: transparent;
  position: fixed;
  top: 0;
  padding: 2.5rem 8rem;
  z-index: 100;
}

.logo {
  display: inline-flex;
  flex-direction: row;
  padding-right: 10rem;
}

.logo span {
  font-size: var(--fs-logo);
  font-weight: 800;
  padding-left: 1.2rem;
}

ul {
  display: flex;
  margin-bottom: 0;
}

a {
  list-style: none;
  font-style: var(--fs-nav);
  margin-right: 8rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: var(--bg-button);
  font-weight: 600;
  /* border-bottom: 2px solid var(--bg-button); */
}

.active {
  /* padding-bottom: 0.5rem; */
  color: var(--bg-button);
  border-bottom: 2px solid var(--bg-button);
  /* font-size: 1.2rem; */
}

.cta {
  display: flex;
  justify-content: flex-start;
}

.cta Button {
  width: 110px;
  margin-left: 0;
  margin-right: -5rem;
}
