.build-launch {
    min-height: 100vh;    
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.launch-window {
    margin: auto;
    width: 25%;
    margin-bottom: 7rem;
    margin-left: 5rem;
    /* border: 3px solid #73AD21; */
}

.build-launch h2 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.build-launch h3 {
    margin-bottom: 0.6rem;
    margin-top: 1.5rem;
    font-size: 1.3rem;
}

.launch {
    margin-top: 1.5rem;
}

.build-launch .earth {
    width: 405px;
    height: 304opx;
    margin-left: 3rem;
}

.build-launch .rocket {
    width: 262px;
    height: 262px;
    margin-left: -10rem;
    margin-bottom: 17rem;
}

.build-launch .path {
    /* position: absolute;
    width: 800px;
    height: 800px;
    background-color: black;
    border-top: 5px dotted grey;
    border-radius: 50%;
    margin-left: 25rem;
    margin-bottom: -12rem;
    z-index: -1;
    overflow: hidden; */
    position: absolute;
    width: 800px;
    height: 400px; /* as the half of the width */
    background-color: black;
    border-top-left-radius: 60%;  /* 100px of height + 10px of border */
    border-top-right-radius: 60%; /* 100px of height + 10px of border */
    border-top: 5px dotted gray;
    border-bottom: 0;
    margin-bottom: 13rem;
    margin-left: 30rem;
    z-index: -1;
}

.build-launch .moon {
    width: 253px;
    height: 253px;
    margin-right: 5rem;
}