nav{
    display: flex;
    align-items: center;
    background-color: transparent;
    position: fixed;
    padding: 3rem 8rem;
    z-index: 100;
}

.logo{
    display: inline-flex;
    flex-direction: row;
    padding-right: 10rem;
}

.logo span{
    font-size: var(--fs-logo);
    font-weight: 800;
    padding-left: 1.2rem;
}

ul{
    display: flex;
}

li{
    list-style: none;
    font-style: var(--fs-nav);
    padding-right: 8rem;
    font-weight: 600;
}