.orbit-button{
    border-radius: var(--bs-border-radius);
    background-color: #c4c4c44f;
    display: inline-flex;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    text-align: center;
    cursor: pointer;
}

.orbit-button:hover, .activeOrbitClass{
    background-color: var(--bg-bigBox);
}


.col-4{
border: 5px solid var(--bg-black)
}

.orbit-button p{
    margin-bottom: 0;
    font-size: 0.9rem;
}